.git
.nx
node_modules
coverage
*.log
.DS_Store
.idea
apps/organiclever-be/target
apps/ayokoding-cli
archived
apps/oseplatform-web
apps/oseplatform-cli
apps/rhino-cli
apps-labs
docs
plans
governance
generated-reports
local-temp
specs
!specs/apps/demo/be/gherkin
!specs/apps/demo/fe/gherkin
!specs/apps/demo/contracts/generated
!specs/apps/organiclever/be/gherkin
!specs/apps/organiclever/fe/gherkin
!specs/apps/organiclever/contracts/generated
infra
.claude
.opencode
.husky
.storybook
playwright-report
test-results
